.body{
    padding-left: 10%;
    text-align: center;
}
.date-value{
    font-size: 5em;
}
.logs{
    margin: 3% 10%;
    min-height: 60%;
    overflow: scroll;
}
.body .bloc{
    min-width: 60%;
    min-height: 70%;
    overflow: scroll;
}
